@import url("https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700&display=swap");

html, body{
    background-color: #00FFBC;
    background-repeat: no-repeat;
    background-position:60% 60%;
    background-size:cover;
}

* {
font-family: 'Zen Maru Gothic';
}

textarea{
background-color: #fff;
color: #FF5300;
border-radius: 8px;
border-style: none;
background-image: url(https://previews.123rf.com/images/skafrica/skafrica0910/skafrica091000067/5798860-%E3%82%88%E3%81%8F%E4%BD%BF%E7%94%A8%E3%81%95%E3%82%8C%E3%82%8B%E6%9C%A8%E8%A3%BD%E3%81%BE%E3%81%AA%E6%9D%BF%E8%89%AF%E3%81%84%E3%83%86%E3%82%AF%E3%82%B9%E3%83%81%E3%83%A3%E8%83%8C%E6%99%AF%E3%82%92%E6%8F%90%E4%BE%9B%E3%81%97%E3%81%BE%E3%81%99%E3%80%82.jpg);    /* 背景画像指定 */
background-repeat: no-repeat;
background-position:60% 60%;
background-size:cover;
}

button{
background-color: #00FF60;
border-radius: 30px;
width: 35%;
height: 3.8%;
transition-duration: .4s;
}

button:hover{
transform: scale(1.1);
}